{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Genus</th>
                <th># of species</th>
            </tr>
        </thead>
        <tbody>
  {% for genus in genuses %}
                <tr>
                    <td>{{ genus.name }}</td>
                    <td>{{ genus.speciesCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}